# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\level_3_1\Operating_System\assignments\assignment_3\OS_A3_20180256_20180080_20180104_20180211\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
